<% provide(:title, I18n.t("static_pages.home2")) %>
<h1><%= t "static_pages.home" %></h1>
<p>
  <%= t "static_pages.home_p1a" %>
  <a href="http://www.railstutorial.org/">
  <%= t "static_pages.ruby_on_rails_tutorial" %></a>
  <%= t "static_pages.home_p1c" %>
</p
